<!-- HEADER CONTEINER-->
<div class="header-container">

<h2 class="h2" role="heading">
  free wifi.cz
</h2>

<style>
  .h2
  {
    margin: 0px;
    font-weight: bold;
    background-image: linear-gradient(to bottom right, #045b11, #09ff00, #27ff01);
  }
</style>
<a href="https://www.youtube.com/watch?v=Aq5WXmQQooo" target="_blank"> 
  <button class="O-NAS" role="button">
    O NÁS
  </button>
</a>

<style>
  .O-NAS
  {
    color: #000000;
    background-image: linear-gradient(to bottom right, #045b11, #09ff00, #27ff01);
    cursor: pointer;
    width: 90px;
    border-width: 1px;
    border-radius: 3px;
  }
</style>
</div>
<!--END OF CONTEINER-->


<style>
  .header-container
  {
    display: flex;
    align-items: center;
    gap: 20px;
  }
</style>



<h1 class="HEADING" role="heading">
  Přihlašte se Vaším google učtem pro FREE WIFI
</h1>

<style>
  .HEADING 
  { 
    color: rgb(0, 0, 0);
    font-weight: bold;
    margin-bottom: 50px;
  }
</style>




<button class="POTVRDIT" role="button">
  POTVRDIT
</button>

<style>
  .POTVRDIT 
  {
    background-image: linear-gradient(to bottom right, #000000, #020202a1, #4e4e4e1b);
    color: white;
    height: 40px;
    width: 100px;
    border-style: solid;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 200px;
  }
</style>


