<!-- HEADER CONTEINER-->
<div class="header_container">

<h2 class="h2" role="heading">
  FREE WIFI.CZ
</h2>


<a href="https://www.youtube.com/watch?v=Aq5WXmQQooo" target="_blank"> 
  <button class="O-NAS" role="button">
    O NÁS
  </button>
</a>

<a href="https://www.youtube.com/watch?v=Aq5WXmQQooo" target="_blank"> 
  <button class="prlihlasit_se" >
    PŘIHLÁSIT SE
  </button>
</a>


<style>
  .O-NAS
  {
    color: #e9e9e9;
    background-image: linear-gradient(to bottom right, #000000, #020202c9, #31313138);
    cursor: pointer;
    border-width: 1px;
    border-radius: 3px;
  }


  .prlihlasit_se
  {
    background-image: linear-gradient(to bottom right, #000000, #020202c9, #31313138);
    color: white;
    border-width: 1px;
    border-radius: 3px;
  }
</style>

</div>
<!--END OF CONTEINER FIRST DIR-->


<style>
  .header_container
  {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 600px;
    height: 60px;
    cursor: pointer;
    background-image: linear-gradient(to bottom right, #0c3c04, #14ff0c, #0c3c04);
  }
</style>



<h1 class="HEADING" role="heading">
  Registrujte se Vaším google učtem pro FREE WIFI
</h1>

<button class="POTVRDIT" role="button">
  POTVRDIT
</button>


<style>
  .HEADING 
  { 
    color: rgb(0, 0, 0);
    font-weight: bold;
    margin-bottom: 50px;
  }

  .POTVRDIT 
  {
    background-image: linear-gradient(to bottom right, #000000, #020202a1, #4e4e4e1b);
    color: white;
    height: 40px;
    width: 100px;
    border-style: solid;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 200px;
  }
</style>


